# Empty CSS file for your own CSS .tab-main {
    border: none;
    background: transparent;
    box-shadow: none;
}

.tab-main section {
    display: none;
    padding: 4em;
    border: 1px solid #abc;
}

.tab-main input {
    display: none;
}

.tab-main label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 18px 60px;
    font-weight: 600;
    text-align: center;
    color: #1e272e;
    border: 1px solid transparent;
    background: #f7f7f7;
}

.tab-main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    opacity: 0;
    display: none;
}

.tab-main span {
    margin-right: 0.5em;
}

.tab-main label[for*='1']:before {
    content: '\f1cb';
}

.tab-main label[for*='2']:before {
    content: '\f17d';
}

.tab-main label[for*='3']:before {
    content: '\f16c';
}

.tab-main label[for*='4']:before {
    content: '\f171';
}

.tab-main label:hover {
    color: #789;
    cursor: pointer;
}

.tab-main input:checked+label {
    color: #fff;
    border: 1px solid transparent;
    background: #fc636b;
}

.tab-main #tab1:checked~#content1,
.tab-main #tab2:checked~#content2,
.tab-main #tab3:checked~#content3,
.tab-main #tab4:checked~#content4 {
    display: block;
}

@media screen and (max-width: 800px) {
    .tab-main label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .tab-main label {
        padding: 15px;
    }
}


/* First make sure the video thumbnail images are responsive. */

img {
    max-width: 100%;
    height: auto;
}


/* 
This is the starting grid for each video with thumbnails 4 across for the largest screen size.
It's important to use percentages or there may be gaps on the right side of the page. 
*/

.video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 23%;
    /* Thumbnails 4 across */
    margin: 1%;
    float: left;
}


/* 
 These keep the height of each video thumbnail consistent between YouTube and Vimeo.
 Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
 */

.video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    .video figure a {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 0;
    }
}


/* Media Queries - This is the responsive grid. */

@media (max-width: 968px) {
    .video {
        width: 31.333%;
        /* Thumbnails 3 across */
    }
}

@media (max-width: 600px) {
    .video {
        width: 48%;
    }
}

@media (max-width: 360px) {
    .video {
        display: block;
        width: 96%;
        /* Single column view. */
        margin: 2%;
        /* The smaller the screen, the smaller the percentage actually is. */
        float: none;
    }
}


/* These are my preferred rollover styles. */

.video img {
    width: 100%;
    opacity: 1;
}

.video img:hover,
.video img:active,
.video img:focus {
    opacity: 0.75;
}